<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='try_css.css')}}">
    <script src={{ url_for("static", filename="try_js.js") }}></script>
    <title>Document</title>
</head>
<body>
    <table border="1" id="table_id">
        <tr>
            <td>
                <h3>べるこっこー</h3>
            </td>
            <td>
                <form method="POST" action="http://127.0.0.1:5000/show_data">
                    <input type="text" name="text" value=""/>
                    <input type="submit" value="送信"/>
                    <input type="button" name="button" value="ボタン" onclick="change_table();">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>